.center{
  margin-left: 200px;
}

.isian{
  margin-top: 50px;
}

.datang img{
  height: 70px;
}

.tigatombol{
  margin-top: 100px;
}

.tigatombol a{
  display: block;
  margin-top: 10px;
}

.profil p{
  font-size: 10px;
  text-align: center;
}
