.gopro{
  font-weight: bold;
}

.daftar{
  background-color: #ed7d3a;
  color: #FFFFFF;
}

.daftar:hover{
  background-color: #d15004;
  color: #FFFFFF;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
